@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-bg {
	/* background-color: #faad17;
	background-image: url(/images/noise-light.png); */
	/* background-image: url(/images/noise.svg); */
	/* background-image: linear-gradient(to top, #f6e7e1 0%, #f2f2f2 30%);
	background-repeat: repeat; */
	background: url(/images/noise.svg),
		/* linear-gradient(to top left, #faad17, transparent), */
			linear-gradient(to top right, #eae7d9, transparent),
		linear-gradient(to top, transparent, #d2c9a0 40%);
	background-blend-mode: normal, screen, screen;
	/* background-attachment: fixed; */
	/* background-size: 400% 400%;
	animation: gradient 15s ease infinite; */
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
