.about-container {
  height: 100%;
  margin: 5rem;
  display: flex;
  justify-content: space-around;
  @media screen and (max-width: 1024px) {
    display: flex;
    flex-direction: column;
  }
  a {
    color: #cbfb45;
    text-decoration: none;
  }
  .about-left-container {
    font-family: "Tex Gyre Heros";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      max-width: 400px;
      @media screen and (max-width: 1024px) {
        max-width: 250px;
      }
    }

    .about-image-container,
    img {
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -o-user-select: none;
      user-select: none;
      pointer-events: none;
    }

    img,
    h1 {
      margin: 0;
      @media screen and (max-width: 1024px) {
        font-size: 5rem;
      }
    }
  }

  .about-right-container {
    font-family: "Rubik";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  p {
    letter-spacing: 0.1rem;
  }
  h1 {
    font-size: 128px;
  }
}
