.about-container {
  height: 100%;
  margin: 5rem;
  display: flex;
  justify-content: space-around;
  a {
    color: #cbfb45;
    text-decoration: none;
  }
  .about-name-container {
    font-family: "Tex Gyre Heros";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      max-width: 400px;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -o-user-select: none;
      user-select: none;
    }
    img,
    h1 {
      margin: 0;
    }
  }
  .about-summary-container {
    font-family: "Rubik";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  p {
    letter-spacing: 0.1rem;
  }
  h1 {
    font-size: 128px;
  }
}
