.main-banner {
  font-family: "Raleway";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  letter-spacing: 0.5rem;
  height: 100%;

  .text-container {
    cursor: pointer;
    background-color: #151517;
    padding: 1rem;
    color: #efefef;
    border-style: none none none none;
    border-color: #5d7a06;
    border-width: 4px;

    .second-line-container {
      @media screen and (max-width: 1024px) {
        font-size: 3rem;
      }
    }

    p {
      text-align: center;
    }

    .name-text {
      color: #cbfb45;
    }

    .cursor-text {
      color: #cbfb45;
      padding-left: 0.5rem;
      animation: blink 1s linear infinite;
    }

    @keyframes blink {
      50% {
        opacity: 0;
      }
    }
    .banner-text {
      padding: 0;
      margin: 0;
      @media screen and (max-width: 1024px) {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
