body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #151517;
  color: #fefefe;

  .global-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-height: 100vh;
  }
}

@font-face {
  font-family: "Tex Gyre Heros";
  src: local("Tex Gyre Heros"),
    url(../fonts/texgyreheros-regular.otf) format("opentype");
}
