.posts-outer-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
  overflow-y: auto;

  .projects-title-container {
    margin: 1rem;

    .projects-title {
      font-size: 7rem;
      @media screen and (max-width: 1024px) {
        font-size: 5rem;
      }
      font-family: "Tex Gyre Heros";
      margin-bottom: -2rem;
    }

    hr {
      border-style: solid;
      border-width: 3px;
      border-color: #cbfb45;
    }
  }
}

.posts-grid-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow-x: hidden;
  max-width: 100%;
}

.post-container {
  margin: 2rem;
  font-family: "JetBrains Mono", monospace;
  word-wrap: break-word;
  max-width: 25%;
  @media screen and (max-width: 1024px) {
    max-width: 80%;
  }
  flex: 1;
  cursor: pointer;

  .post-title {
    font-family: "Rubik";
    font-variant: small-caps;
    letter-spacing: 0.3em;
    text-align: center;
  }

  .post-thumbnail-container {
    display: flex;
    justify-content: center;
    margin: 1rem;
    img {
      max-width: 500px;
    }
  }

  .post-description-container {
    background: #cbfb45;
    color: #151517;
    padding: 0.1rem 0.8rem 0.1rem 0.8rem;
    border-radius: 5px;
    height: fit-content;
  }
}
