.posts-outer-container {
  height: 100%;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}
.posts-grid-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 80%;
}

.post-container {
  margin: 2rem;
  font-family: "JetBrains Mono", monospace;
  word-wrap: break-word;
  max-width: 25%;
  flex: 1;
  cursor: pointer;

  .post-title {
    font-family: "Rubik";
    font-variant: small-caps;
    letter-spacing: 0.3em;
    text-align: center;
  }
  .post-thumbnail-container {
    display: flex;
    justify-content: center;
    margin: 1rem;
  }
  .post-description-container {
    background: #cbfb45;
    color: #151517;
    padding: 0.1rem 0.8rem 0.1rem 0.8rem;
    border-radius: 5px;
    height: fit-content;
  }
}
